*.zip
__pycache__
__pycache__/*
venv/*
venv
.idea
.idea/*

apps/appgerenciasolo/__pycache__
apps/appgerenciasolo/__pycache__/*
apps/appgerenciasolo/venv/*
apps/appgerenciasolo/venv
apps/appgerenciasolo/.idea
apps/appgerenciasolo/.idea/*

infra/first_config/terraform.tfstate.backup
infra/first_config/.terraform.lock.hcl
infra/first_config/.terraform.lock.info
infra/first_config/.terraform